name: ci
on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  Run-WEPP:
    name: Deploy Job
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.x

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          key: ${{ github.ref }}-${{ matrix.os }}
          path: .cache

      # Only deploy docs from Linux to avoid conflicts
      - name: Install mkdocs
        if: runner.os == 'Linux'
        run: |
          pip install mkdocs-material "mkdocs-material[imaging]"
          mkdocs gh-deploy --force

      - name: Install Dependencies (Linux)
        if: runner.os == 'Linux'
        run: |
          sudo apt update
          sudo apt-get install -y wget curl build-essential python3-pandas pkg-config zip cmake libtbb-dev libprotobuf-dev protobuf-compiler
          wget -O Miniforge3.sh "https://github.com/conda-forge/miniforge/releases/download/24.11.3-2/Miniforge3-24.11.3-2-Linux-x86_64.sh"
          bash Miniforge3.sh -b -p "${HOME}/conda"
          echo "${HOME}/conda/bin" >> $GITHUB_PATH

      - name: Install Dependencies (macOS)
        if: runner.os == 'macOS'
        run: |
          brew install wget curl cmake protobuf tbb
          if [[ $(uname -m) == 'arm64' ]]; then
            MINIFORGE_FILE="Miniforge3-24.11.3-2-MacOSX-arm64.sh"
          else
            MINIFORGE_FILE="Miniforge3-24.11.3-2-MacOSX-x86_64.sh"
          fi
          wget -O Miniforge3.sh "https://github.com/conda-forge/miniforge/releases/download/24.11.3-2/${MINIFORGE_FILE}"
          bash Miniforge3.sh -b -p "${HOME}/conda"
          echo "${HOME}/conda/bin" >> $GITHUB_PATH

      - name: Pin Modern TBB (macOS)
        if: runner.os == 'macOS'
        run: |
          conda config --system --add pinned_packages "tbb>=2021.0"
          conda config --show pinned_packages

      - name: Install Common Python Libs
        run: |
          # Install Snakemake in the base environment (runner python or conda)
          pip install snakemake pandas

      - name: Run WEPP
        run: |
          # Define the function dynamically for this step
          run-wepp() {
              snakemake -s "$GITHUB_WORKSPACE/workflow/Snakefile" "$@"
          }
          export -f run-wepp

          run-wepp help --cores 1 --use-conda --conda-frontend mamba